<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dz6_hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.generate_statistics">true</property>

        <mapping class="ua.AvadaMedia.adminREST.Model.Advertising"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.CafeBar"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Children_sRoom"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Cinema"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.City"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Contacts"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForCafeBar"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForChildren_sRoom"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForCinema"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForContacts"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForHall"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForMovie"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForMoviePage"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForNews"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForStock"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.GalleryForVipHall"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Gender"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Hall"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.HallPlace"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Movie"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.MoviePage"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.News"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.SEOBlock"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.ShowingMovie"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.Stock"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.TakeUpPlaceList"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.TicketBooking"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.TypeMovie"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.User"/>
        <mapping class="ua.AvadaMedia.adminREST.Model.VipHall"/>
    </session-factory>
</hibernate-configuration>


        <!--        <logger name="org.hibernate.stat">-->
        <!--            <level>DEBUG</level>-->
        <!--        </logger>-->