<!-- News page -->
<!-- <ng-container *ngIf="!inputMode">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="row" style="width: 100%;">
        <div class="card-body col-md-3" *ngFor="let cinema of imagesForCinemasMainPage">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ cinema[3] }}" class="img-fluid"
                alt="mainImg">
            <div style="width: 100%; text-align: center;">{{ cinema[1] }}</div>
        </div>
    </div>
    <button class="btn btn-block btn-success btn-lg" (click)="openInpunMode()">Add new</button>
</ng-container> -->

<ng-container *ngIf="inputMode">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="form-group">
                <button class="back_arrow" (click)="back()">&#8249; Back</button>
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input *ngIf="newsState" checked type="checkbox" class="custom-control-input" id="customSwitch1"
                        (change)="checkboxSwitch($event.target.checked)">
                    <input *ngIf="!newsState" type="checkbox" class="custom-control-input" id="customSwitch1"
                        (change)="checkboxSwitch($event.target.checked)">
                    <label class="custom-control-label" for="customSwitch1">{{ checkboxText }}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="title_input">Title</label>
                <input id="title_input" type="text" name="title" class="form-control" placeholder="Title"
                    #name_input>
            </div>
            <div class="form-group">
                <label for="description_textarea">Description</label>
                <textarea id="description_textarea" name="description" class="form-control" placeholder="Description"
                    cols="30" rows="10" #description_textarea></textarea>
            </div>
            <div class="form-group">
                <label for="link_input">Link</label>
                <input type="text" name="trailer_link" class="form-control" #link_input placeholder="Link">
            </div>
            <div class="form-group" style="width: max-content;">
                <label for="main_picture_input">Main image *</label><br>
                <div class="picture" *ngIf="mainImage != ''">
                    <input class="cross" type="button" value="X" style="transform: translateX(-100%);"
                        (click)="removePhoto(-2)">
                    <img [src]="mainImage" class="main_image_card" #logo_img_input /><br>
                </div>
                <input type="file" style="display: none;" (change)="openPhoto($event, -2)" #logo_file_input>
                <input type="button" value="Select photo" style="display: block; margin: 0px auto;"
                    (click)="logo_file_input.click()" *ngIf="mainImage == ''">
            </div>
            <label for="gallery_input">Gallery</label><br>
            <input type="button" value="Select photo" (click)="picture_file_input.click()">
            <input type="file" style="display: none;" (change)="openPhoto($event, null)" #picture_file_input>
            <div class="row" style="width: 100%;">
                <div class="card-body col-md-3" *ngFor="let image of gallery; index as i">
                    <div class="picture">
                        <input type="button" class="cross" value="X"
                            style="width: 15rem; float: none; border-radius: 0px;" (click)="removePhoto(i)">
                        <img src="{{ image }}" class="image_card">
                    </div>
                </div>
            </div>
            <app-seo-block></app-seo-block>
        </div>
        <input type="button" class="btn btn-block btn-success btn-lg" value="Submit">
    </form>
</ng-container>