<div *ngIf="mainPageContext.mainComponentContext.pageName === ''">
    <div id="create-new-activity">
        <button (click)="mainPageContext.mainComponentContext.pageName = 'new activity'">+</button>
    </div>
    <div *ngFor="let activity of activities" style="margin: 0px auto; max-width: 30%;">
        <div class="activity-line" (click)="openEditor(activity)">
            <span>{{ activity }}</span>
            <button class="remove-activity" (click)="remove(activity)">X</button>
        </div>
    </div>
</div>
<div *ngIf="mainPageContext.mainComponentContext.pageName !== ''">
    <div class="close-page-button">
        <button (click)="mainPageContext.mainComponentContext.pageName = ''">X</button>
    </div>
    <app-tg-activity-editor-create-new *ngIf="mainPageContext.mainComponentContext.pageName === 'new activity'">
    </app-tg-activity-editor-create-new>
    <app-tg-activity-editor-update *ngIf="mainPageContext.mainComponentContext.pageName === 'update activity'">
    </app-tg-activity-editor-update>
</div>