<form onsubmit="return false">
    <img src="https://ontu.edu.ua/themes/default/images/logo.png" alt="logo">
    <h1>ONTU telegram bot <br> admin panel</h1>
    <br>
    <input type="text" name="login" placeholder="{{ languageService.langDictionary.loginPageLoginField }}"
        [(ngModel)]="login">
    <br>
    <input type="password" name="password" placeholder="{{ languageService.langDictionary.loginPagePasswordField }}"
        [(ngModel)]="password">
    <br>
    <button (click)="onSubmit()">Ok</button>
</form>