{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'fill_gaps.css' %}">
{% endblock %}

{% block title %}
    Додавання інформації
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <h1>Додайте інформації про вашу компанію "{{ email }}"</h1>
        {% csrf_token %}
        <input type="text" name="name_company" placeholder="Ім'я компанії" class="info"><br>
        <textarea name="description" cols="30" rows="15" placeholder="Опис компанії" 
                    class="info"></textarea><br>
        <b>Оберіть фото компанії</b><br>
        <input type="file" name="photo" placeholder="Додайте Фото" class="info"><br>
        <button type="submit">Виставити роботу</button>
    </form>
{% endblock %}