{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'fill_gaps.css' %}">
{% endblock %}

{% block title %}
    Резюме
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <b>{{ email }}</b><br>
        {% csrf_token %}
        <input type="text" name="full_name" placeholder="Повне ім'я" class="info" value="{{ full_name }}"><br>
        <input type="tel" name="phone" placeholder="Телефон" value="{{ phone }}" class="info"><br>
        <select name="place" class="info">
            {% for place in places %}
                <option value="{{ place.0 }}">{{ place.1 }}</option>
            {% endfor %}
        </select><br>
        <b>Оберіть фото</b><br>
        <input type="file" name="photo" placeholder="Додайте Фото" class="info"><br>
        <button type="submit">Find Work</button>
    </form>

    <div>
        <a href="#">Резюме: </a>
    </div>
dsadsa
    <div>
        <a href="{% url 'user_AddResume' %}">Створити Резюме</a>
    </div>
{% endblock %}