<div class="issue-page-container" *ngIf="issueDetail">
  
  <div class="main-column">
    <div class="header">
      <span class="issue-key">{{issueDetail.key}}</span>
      <h1 class="issue-title">{{issueDetail.title}}</h1>
    </div>

    <div class="description-section">
      <h3>Description</h3>
      <p class="issue-description">{{issueDetail.description}}</p>
    </div>

    <div class="comments-section">
      <h3>Comments</h3>
      
      <div class="comment-item" *ngFor="let comment of issueDetail.comments">
        <img [src]="comment.authorAvatar" alt="Avatar" class="comment-avatar">
        <div class="comment-content">
          <div class="comment-header">
            <span class="comment-author">{{comment.authorName}}</span>
            <span class="comment-date">{{comment.date | date:'medium'}}</span>
          </div>
          <div class="comment-body">{{comment.body}}</div>
        </div>
      </div>

    </div>
  </div>

  <div class="side-column">
    <mat-card class="details-card mat-elevation-z1">
      <mat-card-header>
        <mat-card-title>Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="detail-row">
          <span class="detail-label">Status:</span>
          <mat-chip-set>
            <mat-chip color="primary" selected>{{issueDetail.status}}</mat-chip>
          </mat-chip-set>
        </div>

        <mat-divider></mat-divider>

        <div class="detail-row">
          <span class="detail-label">Assignee:</span>
          <div class="user-block" *ngIf="issueDetail.assignee; else unassigned">
            <img [src]="issueDetail.assignee.avatar" class="mini-avatar">
            <span>{{issueDetail.assignee.name}}</span>
          </div>
          <ng-template #unassigned>
            <span>Unassigned</span>
          </ng-template>
        </div>

        <mat-divider></mat-divider>

        <div class="detail-row">
          <span class="detail-label">Reporter:</span>
          <div class="user-block">
            <img [src]="issueDetail.reporter.avatar" class="mini-avatar">
            <span>{{issueDetail.reporter.name}}</span>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
